@import '../styles/animations.scss';

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, #CAF0F8 0%, #90E0EF 100%);
}

.sky {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.sun {
    position: absolute;
    top: 40px;
    right: 40px;
    animation: wiggle 5s infinite ease-in-out;
}

.cloud {
    position: absolute;
    opacity: 0.8;
}

.cloud1 {
    top: 10%;
    left: -100px;
    animation: cloudMove 60s linear infinite;
}

.cloud2 {
    top: 25%;
    left: -100px;
    animation: cloudMove 45s linear infinite;
    animation-delay: -20s;
}

.cloud3 {
    top: 5%;
    left: -100px;
    animation: cloudMove 80s linear infinite;
    animation-delay: -10s;
}

.content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}